<div class="div-score container">
    <div class="card">
      <div class="card-title">
        <div class="float-left">
            <mat-icon class="fa fa-clipboard-list"></mat-icon>
        </div>
        <div class="float-left">
            <h6>Attempted</h6>
            <p>{{attemptedQue}}/{{totalQue}}</p>
        </div>
       </div>
        
        <div class="card-description">
            <span><em>5</em>/30</span>
            <h6>English Laguage</h6>
        </div>
        <div class="card-description">
            <span><em>20</em>/35</span>
            <h6>Quantitative Aptitude</h6>
            
        </div>
        <div class="card-description">
            <span><em>20</em>/35</span>
            <h6>Reasoning Ability</h6>
        </div>
    </div>
  
  </div>