<div class="div-attempted container">
    <div class="card">
      <div class="card-title">
        <div class="float-left">
            <mat-icon class="fa fa-stopwatch"></mat-icon>
        </div>
        <div class="float-left">
            <h6>Time</h6>
            <p>00:49/60 mins</p>
        </div>
       </div>
        
        <div class="card-description">
            <span><em>00:49</em>/20 mins</span>
            <h6>English Laguage</h6>
        </div>
        <div class="card-description">
            <span><em>00:49</em>/20 mins</span>
            <h6>Quantitative Aptitude</h6>
            
        </div>
        <div class="card-description">
            <span><em>00:49</em>/20 min</span>
            <h6>Reasoning Ability</h6>
        </div>
    </div>
  
  </div>