<div>
  
  <i class="fa fa-bars" (click)="show_menu()" ></i>
  <div class="sidebar_menu" *ngIf = "showMenu">
      <i class="fa fa-times-circle" (click)="show_menu()" ></i>
      <ul class="navigation-selection">
        <li class="navigation-item"> <a href="#home">Home</a></li>
        <li class="navigation-item"> <a href="#home">News</a></li>
        <li class="navigation-item"> <a href="#home">Contact</a></li>
        <li class="navigation-item"> <a href="#home">About</a></li>
        </ul>
  </div>
  
</div>