.div-home {
    background-color: #F6F8F9;
}
.mat-grid-list{
    align-content: center;
    height: auto;
    background:#F6F8F9;;
    margin: 20px 80px;
}
.fa-logo {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: .8rem;
    
    
}
.fa-icon-color {
    background: #6C62F9;
    color: white;
}
.div-float {
    float:left;
    margin: 10px 50px;
    padding: 0 20px;
}
.div-sec-float {
    float:left;
    
}
h5{
    font-size: 12px;
    font-weight: 400;
    color: #86a1ae; 
}
.fa-name-text {
    font-size: 12px;
    font-weight: 400;
    color: #86a1ae;
}
.h4-text {
    width: 100%;
    background: #F6F8F9;
    
}
h4{
    margin-left: 10px;
    align-content: left;
}
.row-horizontal {
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 100px;
  margin-left: 80px;
  margin-right: 80px;
  align-content: center;
  height: auto;
  background:#F6F8F9;
}
em{
    color:black;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}
.stats-div{
    display: inline-block;
    margin-left: 20px;
}
@media only screen and (max-width: 868px) {
    .div-float {
        float:left;
        margin: 10px;
    }
    .row-horizontal {
        margin: 10px 5px 100px 5px;
    }
    .stats-div{
        margin: 2px;
    }
    .mat-grid-list {
        align-content: center;
        height: auto;
        background: white;
        margin: 20px;
    }
    
}
@media only screen and (max-width: 1000px) {
    .div-float {
        float:left;
        margin: 10px 30px;
    }
    .mat-grid-list {
        align-content: center;
        height: auto;
        background: white;
        margin: 20px;
    }
}
@media only screen and (max-width: 480px) {
    .div-float{
        width: 98%;
        border-bottom: 1px solid #86a1ae;
        margin: 5px;
    }
    .row-horizontal {
        margin: 0;
    }
    .stats-div{
        margin: 2px;
    }
    .mat-grid-list{
        margin: 10px 1px 1px 1px;
    }
}