<div class="div-attempted container">
    <div class="card">
      <div class="card-title">
        <div class="float-left">
            <mat-icon class="fa fa-bullseye"></mat-icon>
        </div>
        <div class="float-left">
            <h6>Accuracy</h6>
            <p>{{accuracy}}%</p>
        </div>
       </div>
        
        <div class="card-description">
            <span><em>20</em>%</span>
            <h6>English Laguage</h6>
        </div>
        <div class="card-description">
            <span><em>35</em>%</span>
            <h6>Quantitative Aptitude</h6>
            
        </div>
        <div class="card-description">
            <span><em>35</em>%</span>
            <h6>Reasoning Ability</h6>
        </div>
    </div>
  
  </div>