.mat-grid-list{
    align-content: center;
    height: auto;
    background:white;
    margin: 20px 80px;
}
.h4-text {
    width: 100%;
    background: #cccccc;
    
}
h4{
    margin-left: 10px;
    align-content: left;
}
.container-fluid{
    margin-bottom: 100px;
}
.tabs {
    /* overflow: auto;
    white-space: nowrap; */
    align-content: center;
    height: auto;
    margin-bottom: 100px;
    margin-left: 10x;
    margin-right: 10px;
    align-content: center;
    height: auto;
    background:white;
}
.row{
    margin-bottom: 100px;
}
.tab-horizontal{
    display: inline-block;
    margin: 10px;
    border: 2px solid;
    border-radius: 40px;
    background: transparent;
}
#score {
    background: #9926AC;
    color: white;
}
#attempted {
    background: #00BBDE;
    color: white;
}
#accuracy {
    background: #E5685F;
    color: white;
}
#time {
    background: #FF5810;
    color: white;
}

@media only screen and (max-width: 480px) {
    .tab-horizontal{
        margin: 10px;
    }
}